<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar partial</title>
</head>
<body>

<!--Light themed navbar with dark font-->
<div th:fragment="navbar-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent">
        <a class="navbar-brand ms-3 logo" th:href="@{/}">Entry-Level Coder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav centered-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/posts}">Browse Jobs</a>
                </li>
                <!-- Check if the logged-in user is a company, if yes, show the "Post Job" option in the navbar -->
                <li class="nav-item" sec:authorize="hasAuthority('company')">
                    <a class="nav-link" th:href="@{/posts/create}">Post Job</a>
                </li>
                <li class="nav-item"  sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Login</a>

                <li class="nav-item" sec:authorize="isAuthenticated()">

                    <a class="nav-link" th:href="@{users/profile}">Profile</a>


                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                    <button class="nav-link" >Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--dark themed navbar with white font-->
<div th:fragment="navbar-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light bg-transparent">
        <a class="navbar-brand ms-3 logo" th:href="@{/}">Entry-Level Coder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav centered-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/posts}">Browse Jobs</a>
                </li>
                <!-- Check if the logged-in user is a company, if yes, show the "Post Job" option in the navbar -->
                <li class="nav-item" sec:authorize="hasAuthority('company')">
                    <a class="nav-link" th:href="@{/posts/create}">Post Job</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">

                    <a class="nav-link" th:href="@{users/profile}">Profile</a>

                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="nav-link" >Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>