
#jobs{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('/images/typing.jpeg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position: 0px 50%;
    height: auto;
}
.featured-jobs-title{
    font-size: 2.5rem;
}
.filter-item:hover{
    cursor: pointer;
    color: var(--main-green);
}
.search-btn{
    background-color: var(--main-green);
    color: var(--white);
}
.search-btn:hover{
    background-color: var(--light-grey);
    color: var(--white);
}
.view-details-btn{
    background-color: var(--yellow);
}
.view-details-btn:hover{
    background-color: var(--light-grey);
    color: white;
}
.save-job-btn{
    background-color: var(--main-green);
}
.about-us-footer{
    color: var(--light-grey);
    text-decoration: none;
}
.about-us-footer:hover{
    color: var(--main-green);
}
.contact-us-footer{
    color: var(--light-grey);
    text-decoration: none;
}
.contact-us-footer:hover{
    color: var(--main-green);
}

.hidden{
    visibility: hidden;
}
