:root {
    --main-green: #90BA44;
    --white: #FFFFFF;
    --yellow: #FFF278;
    --light-grey: #BFBFBF;
    --dark-grey: #555555;
    --bg-light: #f8f9fa;
    --red: #E93549;
    --open-sans: font-family 'Open Sans', sans-serif;
}
body{
    background-color: var(--bg-light);
}

.flex-grown {
    flex-grow: 1;
}

/*Nav Bar Styles*/
.logo{
    font-size: 2rem;
}

/*Nav Items */

.navbar-nav {
    margin-right: 0;
}
.centered-nav .nav-item {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
}
.nav-link:hover{
    color: var(--main-green);
}
button.navbar-toggler:hover{
    background-color: var(--main-green);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.centered-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-nav .nav-item {
    margin-left: 2rem;
    margin-right: 2rem;
}

/*Browse Jobs Section Styles*/


/*Search Bar*/
.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form-control {
    flex: 0.7;
}
.search-btn {
    margin: 0 10px;
}
#search-term{
    border: 2px solid var(--main-green); /* set a solid green border */
    border-top-width: 2px; /* override the default top border width */
    border-left-width: 2px; /* override the default left border width */
    border-radius: 5px;
}
.search-error-message {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-green);
    margin: 5rem 0;
}

div.form-select.custom-select-style {
    width: 100%;
}

/*Filter Button Styles*/

.custom-select-style select {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}

div.form-select{
    width: auto;
}

.form-control {
    display: inline-block;
    min-width: 100%; /* Set a default minimum width */
}

.form-control option {
    font-size: inherit;
}

/* Use the :focus selector to override the min-width property when the select element is focused */
.form-control:focus {
    min-width: unset;
}
.about-us-footer{
    color: var(--light-grey);
    text-decoration: none;
}
.about-us-footer:hover{
    color: var(--main-green);
}
.contact-us-footer{
    color: var(--light-grey);
    text-decoration: none;
}
.contact-us-footer:hover{
    color: var(--main-green);
}


/*Job Cards*/
.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(144, 186, 68, 1);
}

#job-card-container {
    height: auto;
    min-height: 500px; /* adjust the height as needed */
}


#job-modal .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

#job-modal .modal-dialog {
    overflow-y: initial !important;
}

#job-modal .modal-content {
    height: auto;
}

#job-modal .modal-body::-webkit-scrollbar {
    width: 8px;
}

#job-modal .modal-body::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#job-modal .modal-body::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
}

.apply-now-btn {
    background-color: var(--main-green);
}

.apply-now-btn:hover {
    color: black;
    background-color: var(--light-grey);
}

.edit-btn {
    background-color: var(--main-green);
}

.edit-btn:hover {
    color: black;
    background-color: var(--light-grey);
}

/*Footer Styles*/
.footer{
    background-color: var(--dark-grey);
    color: var(--light-grey);
}

i{
    color: var(--main-green);
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.social-icons a:not(:last-child) {
    margin-right: 1rem;
}
.entry-level-coder-email{
    text-decoration: none;
    color: var(--light-grey);
}
.adzuna{
    text-decoration: none;
    color: var(--main-green);
}

/*Login Form Styles*/
.login-form-header, .login-form-btn{
    background-color: var(--main-green);
}

.job-seeker-link:hover, .employer-link:hover {
    color: var(--main-green);
}

/*About Us Styles*/
.about-us-title{
    font-size: 3rem;
}
.about-us-lead{
    font-size: 1.4rem;
}
.about-us-para{
    font-size: 1.2rem;
}

/*Contact Us Styles*/
.contact-us-btn{
    background-color: var(--main-green);
}
/*Company Profile Styles*/
.profile-header{
    background-color: var(--main-green);
}
/*Company Signup Styles*/
.company-signup-btn{
    background-color: var(--main-green);
}
.company-login-link{
    color: var(--dark-grey);
}
.company-login-link:hover{
    color: var(--main-green);
}
.form-check-input:checked{
    background-color: var(--main-green);
    border-color: var(--main-green);
}
.company-signup-header{
    background-color: var(--main-green);
}

/*Create Job Styles*/
.create-job-btn{
    background-color: var(--main-green);
}
.create-job-header {
    background-color: var(--main-green);
}
/*Edit Company Profile Styles*/
.edit-company-profile-btn{
    background-color: var(--main-green);
}
/*Edit Job Posting Styles*/
.edit-job-posting-header {
    background-color: var(--main-green);
}
/*Edit User Profile*/
.edit-user-profile-btn{
    background-color: var(--main-green);
}
.edit-user-profile-btn:hover{
    color: white;
    background-color: var(--light-grey);
}
/*User Signup Styles*/
.user-signup-btn{
    background-color: var(--main-green);
}
.user-already-have-account{
    color: var(--dark-grey);
}
.user-already-have-account:hover{
    color: var(--main-green);
}
.user-signup-header{
    background-color: var(--main-green);
}

.delete-profile-btn{
    color: black;
    background-color: var(--yellow);
}
.delete-profile-btn:hover{
    color: black;
    background-color: #E93549;
}

/*about us dev cards*/
.flip-card {
    background-color: transparent;
    width: 275px;
    height: 400px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front {
    box-shadow: 0 8px 14px 0 var(--dark-grey);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: var(--main-green);
    border-radius: 1rem;
}
.flip-card-back {
    box-shadow: 0 8px 14px 0 var(--dark-grey);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: var(--main-green);
    border-radius: 1rem;
}

.flip-card-front {
    background: var(--light-grey);
    color: white;
    justify-content: space-evenly;
}

.flip-card-back {
    background: var(--main-green);
    color: white;
    transform: rotateY(180deg);
    justify-content: space-evenly;
}

.github-link{
    height: 35px;
    width: auto;
    text-decoration: none;
    color: black;
}
.github-link:hover{
    cursor: pointer;
    color: white;
}
.linkedin-link{
    height: 35px;
    width: auto;
    text-decoration: none;
    color: black;
}
.linkedin-link:hover {
    cursor: pointer;
    color: white;
}

.ricardoPhoto{
    height: 210px;
    width: 173px;
    align-self: center;
}

.johnnyPhoto {
    height: 210px;
    width: 195px;
    align-self: center;
}

.michaelPhoto {
    height: 210px;
    width: 190px;
    align-self: center;
}

.aharownPhoto {
    height: 210px;
    width: 200px;
    align-self: center;
}

.team-link {
    text-decoration: none;
    color: var(--light-grey);
}

.team-link:hover{
    color: var(--main-green);
}

/*Media Queries Styles*/

@media only screen and (min-width: 250px) and (max-width: 500px) {
    /* CSS rules to be applied when the screen width is between 768px and 1024px */
    div.form-select.custom-select-style {
        width: 100%;
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 250px) and (max-width: 767px) {
    /* CSS rules to be applied when the screen width is between 768px and 1024px */
    .form-select{
        padding: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules to be applied when the screen width is between 768px and 1024px */
    .about-us-lead{
        font-size: 1.1rem;
    }
    .about-us-para{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 2000px) {
    /* CSS rules to be applied when the screen width is between 768px and 1024px */
    .about-us-title{
        font-size: 3.5rem;
    }
    .about-us-lead{
        font-size: 1.6rem;
    }
    .about-us-para{
        font-size: 1.5rem;
    }
}