<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/header :: header-common"></head>
<body>
<div class="wrapper sticky-footer bg-light">
    <!-- Navigation Bar -->
    <div th:replace="partials/navbar :: navbar-light"></div>

    <!-- About Us -->
    <section id="about" class="my-5 py-5 bg-light flex-grown">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/images/group.jpeg" alt="About Us" class="img-fluid rounded mb-4 mb-lg-0">
                </div>
                <div class="col-lg-6">
                    <h2 class="font-weight-bold about-us-title mb-4">About Us</h2>
                    <p class="mb-4 about-us-lead">Entry-Level Coder is a specialized job board designed to help recent computer science graduates, coding bootcamp graduates, and individuals who have made a career switch into software development find their dream jobs. Our platform focuses on job opportunities that require 0-2 years of software development or web development experience, ensuring a more targeted job search for entry-level candidates.</p>
                    <p class="lead mb-4 about-us-para">Our mission is to bridge the gap between jobseekers with limited experience and employers looking for talented, passionate, and dedicated entry-level software developers. By providing a platform that exclusively features entry-level positions, we aim to streamline the job search process and facilitate meaningful connections between jobseekers and employers.</p>
                    <p class="lead mb-4 about-us-para">We understand that the job market can be competitive and overwhelming for entry-level candidates, and we strive to make the job search experience more accessible, focused, and efficient for both jobseekers and employers. We believe that every talented individual deserves a chance to launch their career, and we're committed to helping make that happen.</p>
                    <!--          <a href="#" class="btn btn-primary btn-lg">Learn More</a>-->
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="partials/footer :: footer"></div>

</div>
<!--Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<!-- Custom JS -->
<script src="indexScripts.js"></script>
</body>
</html>