<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: header-index"></head>

<body>

<section id="hero-container" class="hero-container">
  <!-- Navigation Bar -->

  <div th:replace="partials/navbar :: navbar-dark"></div>


  <!-- Jumbotron -->
  <section id="hero" class="py-5">
    <div class="jumbotron jumbotron-fluid text-light">
      <div class="container">
        <h1 class="jumbotron-title">Find Your Dream Entry-Level Software Developer Job</h1>
        <p class="jumbotron-lead">Connecting employers and talented entry-level software developers across the United States.</p>
        <a th:href="@{/users/signup}" class="btn hero-btn jumbotron-signup-btn"> Sign up today!</a>
      </div>
    </div>
  </section>

</section>

<!-- Featured Employers -->
<section id="featured-in" class="bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-5 featured-employers-title">Featured Employers</h2>
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-3 col-sm-6 mb-4">
        <svg width="100" height="100">
          <image href="/images/airbnb.svg" height="100" width="100"/>
        </svg>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <svg width="100" height="100">
          <image href="/images/ibm.svg" height="100" width="100"/>
        </svg>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <svg width="100" height="100">
          <image href="/images/tesla.svg" height="100" width="100"/>
        </svg>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <svg width="100" height="100">
          <image href="/images/netflix.svg" height="100" width="100"/>
        </svg>
      </div>
    </div>
  </div>
</section>
<!-- How It Works -->
<section id="how-it-works" class="py-5">
  <div class="container">
    <h2 class="text-center mb-5 how-it-works-text text-white">How It Works</h2>
    <div class="row align-items-center justify-content-center d-flex align-items-stretch flex-wra">
      <div class="col-md-4 mb-4">
        <div class="card hiw-card h-100 shadow">
          <div class="card-body">
            <h5 class="hiw-card-title card-title mb-4">Create Your Profile</h5>
            <p class="card-text">Sign up for a free account and create your profile to start applying to entry-level software developer / web developer jobs.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card hiw-card h-100 shadow">
          <div class="card-body">
            <h5 class="hiw-card-title card-title mb-4">Apply to Jobs</h5>
            <p class="card-text">Browse our job listings and apply to entry-level software developer / web developer jobs that match your skills and experience.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card hiw-card h-100 shadow">
          <div class="card-body">
            <h5 class="hiw-card-title card-title mb-4">Get Hired</h5>
            <p class="card-text">Get noticed by top employers in the industry and land your dream job as an entry-level software developer / web developer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Testimonials -->
<section id="testimonials" class="bg-light py-5">
  <div class="testimonials-container">
    <h2 class="text-center mb-5 testimonials-title">Testimonials</h2>
    <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active carousel-button"></button>
        <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="1" class="carousel-button"></button>
        <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="2" class="carousel-button"></button>
        <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="3" class="carousel-button"></button>
        <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="4" class="carousel-button"></button>
        <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="5" class="carousel-button"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row align-items-center px-5">
            <div class="col-md-4">
              <img src="/images/man-1.jpeg" class="img-fluid " alt="Testimonial Image">
            </div>
            <div class="col-md-8">
              <blockquote class="blockquote">
                <p class="mb-0">"Thanks to entrylevelcoder.com, I was able to find the perfect entry-level web developer job for me. I highly recommend it to anyone looking to kickstart their career in tech."</p>
                <footer class="blockquote-footer mt-2">Justin Reich, Entry-Level Web Developer</footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center px-5">
            <div class="col-md-4">
              <img src="/images/woman-1.jpeg" height="750" width="1125" class="img-fluid " alt="Testimonial Image">
            </div>
            <div class="col-md-8">
              <blockquote class="blockquote">
                <p class="mb-0">"We were struggling to find the right entry-level software developer for our team, but this job board website helped us connect with some truly talented candidates. We couldn't be happier with our new hire."</p>
                <footer class="blockquote-footer mt-2">Jane Adams, Hiring Manager</footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center px-5">
            <div class="col-md-4">
              <img src="/images/man-2.jpeg" class="img-fluid" alt="Testimonial Image">
            </div>
            <div class="col-md-8">
              <blockquote class="blockquote">
                <p class="mb-0">"I applied to several entry-level software developer jobs through this website and landed a great job at a top tech company. The process was easy and straightforward."</p>
                <footer class="blockquote-footer mt-2">Jason Merrell, Entry-Level Software Developer</footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center px-5">
            <div class="col-md-4">
              <img src="/images/woman-3.jpeg" class="img-fluid" alt="Testimonial Image">
            </div>        <div class="col-md-8">
            <blockquote class="blockquote">
              <p class="mb-0">"As a small business owner, I was looking for an entry-level software developer who could help me build my website. This job board website connected me with the perfect candidate for the job."</p>
              <footer class="blockquote-footer mt-2">Sarah Johnson, Business Owner</footer>
            </blockquote>
          </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center px-5">
            <div class="col-md-4">
              <img src="/images/woman-2.jpeg" class="img-fluid" alt="Testimonial Image">
            </div>
            <div class="col-md-8">
              <blockquote class="blockquote">
                <p class="mb-0">"I was impressed by the quality of entry-level software developer candidates that I found through this job board website. The platform made it easy to sort and filter resumes to find the best fit for our team."</p>
                <footer class="blockquote-footer mt-2">Ashely Wilkinson, Hiring Manager</footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center px-5">
            <div class="col-md-4">
              <img src="/images/man-3.jpeg" class="img-fluid" alt="Testimonial Image">
            </div>
            <div class="col-md-8">
              <blockquote class="blockquote">
                <p class="mb-0">"I never thought I'd be able to find an entry-level software developer job that matched my interests and skills, but this job board website helped me do just that. I'm now working for a great company and loving every minute of it."</p>
                <footer class="blockquote-footer mt-2">Isaac Yanez, Entry-Level Software Developer</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to Action -->
<section id="call-to-action" class="py-5">
  <div class="container">
    <div class="row justify-content-center d-flex align-items-stretch">
      <div class="col-md-8 text-center">
        <h2 class="text-white mb-4 cta-title">Find Top Talent or Your Dream Job</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center py-4">
        <div class="card cta-card bg-light border-light mb-3 h-100">
          <div class="card-header bg-transparent border-light">
            <h3 class="text-dark cta-card-title mb-0">Job Seekers</h3>
          </div>
          <div class="card-body">
            <p class="lead mb-4 cta-card-text">Sign up for a free account today to access our exclusive network of entry-level software developer / web developer jobs from top companies.</p>
<!--            if user is not logged in-->
            <a th:href="@{/users/signup}" class="btn btn-lg cta-btn apply-now-btn">Find a Job</a>
<!--            if user or company is logged in-->
<!--            <a th:href="@{/posts}" class="btn btn-lg cta-btn">Find a Job</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center py-4">
        <div class="card cta-card bg-light border-light mb-3 h-100">
          <div class="card-header bg-transparent border-light">
            <h3 class="text-dark cta-card-title mb-0">Employers</h3>
          </div>
          <div class="card-body">
            <p class="lead mb-4 cta-card-text">Sign up for a free account today to post your entry-level software developer / web developer job listings and find the best junior talent for your business.</p>
<!--            if company or user is not logged in-->
            <a th:href="@{/company/signup}" class="btn btn-lg cta-btn apply-now-btn">Post a Job</a>
<!--            if company is logged in-->
<!--            <a th:href="@{/posts/create}" class="btn btn-lg cta-btn">Post a Job</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Jobs -->
<section id="featured-jobs">
  <div class="container mt-5">
    <h2 class="text-center mb-4 featured-jobs-title">Featured Top Paying Jobs</h2>
    <div class="row featured-jobs-container d-flex align-items-stretch justify-content-center" id="featured-jobs-container">
      <!-- The highest salary job will be displayed here -->
      <div class="loader" id="loader">
        <p class="heading">Loading Job Information</p>
        <div class="loading">
          <div class="load"></div>
          <div class="load"></div>
          <div class="load"></div>
          <div class="load"></div>
          <div class="load"></div>
          <div class="load"></div>
          <div class="load"></div>
          <div class="load"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Job Modal -->
  <div class="modal fade" id="job-modal" tabindex="-1" aria-labelledby="job-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="job-modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="job-modal-body">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<div th:replace="partials/footer :: footer"></div>


<!--Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<!-- Custom JS -->
<script th:src="@{/js/indexScript.js}"></script>
</body>
</html>